body {
  max-width: 980px;
  margin: auto;

}


header {
  padding-top: 10px;
  width: 100%;
  height: 150px;
  background-color: #442244;
}

header .my-note-title,
header .my-note-desc {
  justify-content: center;
  display: flex;
  padding: 10px;
}

header label {
  align-items: left;
  font-size: 25px;
  text-shadow: 5px 5px 10px black;
  margin-top: 10px;
  font-family: 'Gugi', cursive;
  color: white
}

.my-note-desc {
  margin: 5px;
  font-family: 'Gugi', cursive;
  color: white
}

article {
  box-sizing: border-box;
}

.advantages h2 {
  color: #442244;
  font-family: 'Gugi', cursive;
}

.row {
  display: block;
}

article h1 {
  margin: 0;
  text-shadow: 5px 5px 10px black;
  text-align: center;
  font-size: 25px;
  font-family: 'Gugi', cursive;
  margin-top: 20px;
  color: #442244;
}

h2 {
  margin: 0;
  color: #630650;
  text-shadow: 5px 5px 10px black;
  text-align: center;
  font-size: 25px;
}

.text-holder {
  padding: 18px 8px;
  font-size: x-large;
  margin: 15px 15px;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  background-color: #e3cdff;
}

.icon>img {
  width: 125px;
  height: 125px;
  margin: 0px 31%
}

.button a {
  color: white;
  font-size: 20px;
  border: 1px dashed white;
  padding: 10px 25px;
  border-radius: 18px;
  background-color: #442244;
  margin: 10px 29%;
  text-decoration: none;
  display: grid;
  justify-items: center;
  font-family: 'Gugi', cursive;
}

footer {
   background-color: #442244;
    color: white;
    padding: 7px 0px;
    margin-top: 25px;
    width: 100%;
    font-family: 'Gugi', cursive;
    display: flex;
    justify-content: center;
    position: absolute;
    max-width: 980px;
}

@media(min-width :500px) {
  header a {
    padding: 0;
    list-style: none;
    color: white;
    font-size: 30px;
    border: 2px dashed white;
    border-radius: 18px;
    text-decoration: none;
    margin-right: 12px;
  }
  header {
    min-width: 100%;
  }
  .icon>img {
    width: 125px;
    height: 125px;
    margin: 0px 40%
  }
}

@media (min-width: 980px) {
  header label {
    font-size: 33px;
    color: white;
    text-shadow: 5px 5px 10px black;
  }
  header {
    min-width: 100%;
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .row_flexible {
    display: flex;
    justify-content: center;
  }
  .icon-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}
