body {
    max-width: 980px;
    margin: auto;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    display: grid;

}

p,
div,
nav,
section,
main {
    margin: 5px;
    padding: 0;
    margin-top: 15px;
}

header {
    display: flex;
    overflow: hidden;
    background-color: #404040;
    padding: 10px 10px;
   
}

header a {
    padding: 0;
    list-style: none;
    color: white;
    font-size: 18px;
    border: 1px dashed white;
    border-radius: 18px;
    text-decoration: none;
    margin-right: 12px;
}

header label {

    font-size: 25px;
    width: 35%;
    color: white;
    text-shadow: 5px 5px 10px black;
    margin-top: 10px;
    flex-grow: 10;
    margin-left: 10px;
}

article {
    box-sizing: border-box;
}

article h1 {
    margin: 0;
    color: white;
    text-shadow: 5px 5px 10px black;
    text-align: center;
    font-size: 25px;
}

h2 {
    margin: 0;
    color: white;
    text-shadow: 5px 5px 10px black;
    text-align: center;
    font-size: 25px;
}

.text-holder {
    border-radius: 32px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 18px 8px;
    font-size: x-large;
    margin: 15px 15px;
}

.icon>img {
    width: 125px;
    height: 125px;
    margin: 0px 31%
}

header svg {
    flex-grow: 1;
}

footer {
    background-color: #404040;
    color: white;
    text-align: center;
    padding: 7px;
    margin-top: 25px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.form {
    display: grid;
}

.form-label {
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 5px 5px 10px black;

}

.textfield {
    margin-left: 15px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
}

.form a {
    color: white;
    border: 1px dashed white;
    border-radius: 18px;
    background-color: #404040;
    display: grid;
    padding: 12px;
    font-size: medium;
    width: 30%;
    margin-left: 5%;
    text-align: center;
}

.inputPlace {
    display: grid;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

