.line-break {
    width: 100%;
}

body {
    max-width: 980px;
    margin: auto;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-flow: row wrap;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;
    background-color: #404040;
    padding: 20px 10px;
    width: 100%;

}

header a {
    color: white;
    font-size: 18px;
    border: 1px dashed white;
    border-radius: 18px;
    text-decoration: none;
    display: none;
    padding: 10px;
    margin: 0 10px;
}

header label {
    align-items: left;
    font-size: 25px;
    width: 35%;
    color: white;
    text-shadow: 5px 5px 10px black;
    margin: 0 10px;
}

article {
    box-sizing: border-box;
}

article h1 {
    margin: 0;
    color: white;
    text-shadow: 5px 5px 10px black;
    text-align: center;
    font-size: 25px;
}

h2 {
    margin: 0;
    color: white;
    text-shadow: 5px 5px 10px black;
    text-align: center;
    font-size: 25px;
}

.text-holder {
    border-radius: 32px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 18px 8px;
    font-size: x-large;
    margin: 15px 15px;
}

.icon>img {
    width: 125px;
    height: 125px;
    margin: 0px 31%
}

.button a {
    color: white;
    font-size: 20px;
    border: 1px dashed white;
    padding: 10px 25px;
    border-radius: 18px;
    background-color: #404040;
    margin: 10px 29%;
    text-decoration: none;
    display: grid;
    justify-items: center;
}

label {
    color: white;
    font-size: 30px;

}

.username {
    color: white;
    font-size: 20px;
    display: inline-flex;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 97%;
}

.row p {
    color: white;
    font-size: 20px;
    display: inline-flex;
}

#profile {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

.hidden {
    display: none;
}

.visable {
    display: inherit;
}

.vertical-menu {
    width: 100%;
}

@media(min-width:769px) {
    .vertical-menu {
        width: 20%;
        display: inline-block;
    }
    .username {
        font-size: 25px;
    }

    header a {
        display: flex;
    }
    .header-right {
        justify-content: right;
    }
    .content {
        display: flex;
    }
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}




.main_block {
    display: inline-block;
    padding: 5px 5px 20px 5px;
    width: 100%;

}

.vertical-menu a {
    background-color: #404040;
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-size: large;
}

.vertical-menu a:hover {
    background-color: #767676;
}

.vertical-menu a.active {
    background-color: #838383;
    color: white;
}

.block {
    float: left;
    width: 260px;
    height: 500px;
    background-color: #404040;
}

.search {
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.75);
    width: 35%;
}

.add_note {
    text-shadow: 5px 5px 10px black;
    color: white;
    font-size: 20px;
    display: inline-flex;

}

.textarea {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    font-size: x-large;
    height: 140px;
    width: 95%;
}

.textarea_mini {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    font-size: x-large;
    height: 30px;
    width: 95%;
}

footer {
    background-color: #404040;
    color: white;
    text-align: center;
    padding: 7px;
    margin-top: 25px;
    width: 100%;
}


